@{
    Layout = null;
}
<title>Funcionário</title>
<main aria-labelledby="title">
    <h1>Desculpe!</h1>
    <h1>Área em desenvolvimento clique em @Html.ActionLink("Retonar", "Inicio","Home")</h1>
</main>