@model ExeLucasSthephanyIII.Models.Funcionario
@{
    ViewBag.Title = "SelectFunc";
}

<h2>Funcionário cadastrado</h2>

<h4><b>Código: </b> @Model.Codigo</h4>

<h4><b>Nome: </b> @Model.Nome</h4>

<h4><b>Função: </b> @Model.Funcao</h4>