@model ExeLucasSthephanyIII.Models.Carro
@{
    ViewBag.Title = "ConsultaCarro";
}

<h2>Carro</h2>

<img src="~/Images/delorian.jpg"  width="600px" height="auto" />

<h2>@Model.Fabricante / @Model.Nome / @Model.Tipo / @Model.Transmissao </h2>